<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout('Головна - Міні-бібліотека', ~{::section})}">
<body>
<section>
    <div class="px-4 py-5 my-5 text-center">
        <i class="bi bi-book-half display-1 text-primary mb-4"></i>
        <h1 class="display-5 fw-bold text-dark">Вітаємо у Міні-бібліотеці</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-muted">
                Це зручна система для керування книгами у нашій невеликій колекції.
                Тут ви можете переглядати каталог, брати книги для читання та залишати свої відгуки.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a th:href="@{/books}" class="btn btn-primary btn-lg px-4 gap-3 shadow-sm">
                    <i class="bi bi-collection"></i> Відкрити каталог
                </a>

                <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-secondary btn-lg px-4 shadow-sm">Увійти</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>